{% extends "layout.html" %}
{% set activepage = "home" %}
{% block title %}Messenger Secure - Create{% endblock %}

{% block content %}
<h1 class="border-bottom border-success">Create a self-destruct-encrypted message</h1>

<p class="alert alert-info">Message is encrypted before being sent to the server and decryption key
is never sent to the server. More information in <a href="/about">about</a> page.</p>

<div class="h-100 p-4 text-white bg-dark rounded-3" id="creator">
    <div>
        <textarea id="message" class="bg-dark text-white"></textarea>
    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="msgur(true);">Encrypt and Send</button>
        <button type="button" class="btn btn-secondary" onclick="msgur(false);">Encrypt Only</button>
    </div>
</div>

<br>

<div class="h-100 p-4 rounded-3 m-4 d-none" id="url-box">
<div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">URL</span>
    <input type="text" class="form-control" id="url">
    <button id="copy-btn" class="btn btn-success" type="button" onclick="copyurl();">Copy</button>
</div>
</div>

<div class="h-100 p-4 text-white bg-dark rounded-3 d-none" id="summary">
    <div>
        <code id="key">Key: </code>
    </div>
    <div>
        <code id="encrypted">Encrypted: </code>
    </div>
</div>
{% endblock %}
