{% extends "layout.html" %}
{% set activepage = "home" %}
{% block title %}Messenger Secure - Create{% endblock %}

{% block content %}
<h1>Create a self-destruct-encrypted message</h1>
<p>Message is encrypted before being sent to the server and decryption key
is never sent to the server.</p>

<div class="h-100 p-4 text-white bg-dark rounded-3" id="creator">
    <div>
        <textarea id="message" class="bg-dark text-white"></textarea>
    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="msgur(true);">Encrypt and Send</button>
        <button type="button" class="btn btn-secondary" onclick="msgur(false);">Encrypt Only</button>
    </div>
</div>
<br>
<div class="h-100 p-4 text-white bg-dark rounded-3 d-none" id="summary">
    <div>
        <code id="key">Key: </code>
    </div>
    <div>
        <code id="encrypted">Encrypted: </code>
    </div>
    <div>
        <code id="url">URL: (not generated)</code>
    </div>
</div>
{% endblock %}
